* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Removed the "." before header as this is a Semantic element and not a class */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Removed the "." before header as this is a Semantic element and not a class */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Removed the "." before header as this is a Semantic element and not a class 
    Removed the ".seo" class and referenced the Span attribute instead */
header h1 span{
    color: #d9dcd6;
}

/* Removed the "." before header as this is a Semantic element and not a class 
   Renamed the div to nav so that it would be a Semantic element */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removed the "." before header as this is a Semantic element and not a class 
   Renamed the div to nav so that it would be a Semantic element */
header nav ul {
    list-style-type: none;
}

/* Removed the "." before header as this is a Semantic element and not a class 
   Renamed the div to nav so that it would be a Semantic element */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpeg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Condensed lead, brand and cost into this rule  */
.benefit-content {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Condensed lead, brand and cost into this rule  */
.benefit-content h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Condensed lead, brand and cost into this rule  */
.benefit-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Applied this rule to a section that encapsulated the following three divs instead of applying to each individually 
    Moved this section closer to it's related rules */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Condensed the three styling rules for this section into a single CSS rule */
.services-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Condensed the three img styling for this section into a single CSS rule */
.services-content img {
    max-height: 200px;
}

/* Condensed the three h2 styling for this section into a single CSS rule */
.services-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}